{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}


{% block content %}

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">My items</h2>
        <div class="grid grid-cols-4 gap-4">
            {% for item in page_obj %}
                <div>
                    <a href="{{ item.get_absolute_url }}">
                        <div>
                            <img class="rounded-t-xl" src="{{ item.image.url }}">
                        </div>
                        <div class="p-6 bg-sky-100 rounded-b-xl">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">
                                Price: 
                                {% if item.discount_price %}
                                    <del>${{ item.price }}</del><span class="text-teal-500"> ${{ item.discount_price }}</span>
                                {% else %}
                                    ${{ item.price }}
                                {% endif %}
                            </p>
                            {% if item.is_sold %}
                                <p class="text-red-700">This item is sold!</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="text-center mt-6">
        <div class="text-teal-500 font-semibold">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% else %}
                <a class="disabled">&laquo First</a>
                <a class="disabled">Previous</a>
            {% endif %}

            <span class="text-gray-600">
                | Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
            {% else %}
                <a class="disabled">Next</a>
                <a class="disabled">Last &raquo</a>
            {% endif %}
        </div>
    </div>


{% endblock %}